/* Fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   background-color: #F5F8FF;
}

/* Header Style */
header{
   background-image: url(../assets/Hero-bg.png);

}

/* nav styles */
.nav-logo{
   font-family: "Inter", sans-serif;
   font-size: 34px;
   font-weight: 900;

   margin-left: 280px;

   color: #4E47FF;
}

.nav-btn a{
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   font-weight: 700;


   text-decoration: none;
   color: white;
}

.nav-btn{
   background-color: #4E47FF;

   border: none;
   border-radius: 10px;
   margin-right: 280px;
   padding: 12px 36px;
}

.nav-bar{
   display: flex;
   justify-content: space-between;
   align-items: center;

   /* max-width: 1140px; */
   margin: 0px auto 158px auto;
   padding: 50px 0px;
}

/* Banner Style */
.banner-title{
   color: #252432;

   font-family: "Raleway", sans-serif;
   font-size: 65px;
   font-weight: 700;

   
}
.banner-btn a{
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   font-weight: 700;

   text-decoration: none;
   color: white;
}
.banner-btn{
   background-color: #4E47FF;

   border: none;
   border-radius: 10px;
   padding: 12px 36px;
   margin-bottom: 152px;
}
.banner{
   text-align: center;
   margin: 0px auto 152px auto;
}

/* Action section Style */
.action-content{
   max-width: 517px;
   margin-top: 62.5px;
   margin-bottom: 62.5px;
}

.action-title{
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 42px;

   margin-bottom: 0px;

   color: #252432;
}

.action-description{
   font-family: "Raleway", sans-serif;
   font-size: 24px;

   color: rgb(37, 36, 50, 0.5);
}

.action-btn a{
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   font-weight: 700;

   margin-top: 23px;

   text-decoration: none;
   color: white;
}

.action-btn{
   background-color: #4E47FF;

   border: none;
   border-radius: 10px;
   padding: 12px 36px;
}

.action-img{
   border-radius: 48px;
   margin-left: 220px;
}

.action-section{
   display: flex;
   justify-content: space-between;
   align-items: center;

   /* max-width: 1140px; */
   /* margin: 0px auto 116px auto; */
   padding: 116px 240px 116px 220px;
}


